@media screen and (min-width: 1200px) {
  .hide-lg {
    display: none !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .hide-md {
    display: none !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .hide-sm {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .hide-xs {
    display: none !important;
  }
  #searchLayer {
    width: 100% !important;
    margin: 0 auto !important;
  }
}
body {
  background: #efefef;
  margin: 0;
  padding: 0;
  font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif, Arial;
  font-size: 16px;
  line-height: 2;
  color: #2c323c;
}
a {
  color: #49b1f5;
}
.tag-a {
  margin: 6px;
  display: inline-block;
}
.tag-a:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}
.searchShade {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.7);
  z-index: 10000000;
}
.searchShade #searchLayer {
  width: 40%;
  margin: 10% auto;
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 6px;
}
.searchShade #searchLayer .close {
  position: absolute;
  right: 6px;
  top: 0px;
  cursor: pointer;
}
.searchShade #searchLayer input {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}
.searchShade #searchLayer ul {
  margin-top: 10px;
}
.qy-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
.qy-nav a:not(.title,.searchBtn):hover {
  color: #f4f5f5;
  background-color: #999;
}
.qy-nav .layui-nav .layui-this:after,
.qy-nav .layui-nav-bar {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 5px;
  background-color: none;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  pointer-events: none;
}
.qy-nav .progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #5fb878;
}
.qy-nav .loadingBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.center {
  margin-top: 60px !important;
  padding: 1.25rem;
  min-height: 100vh;
}
.center .userinfo {
  text-align: center;
}
.center .userinfo img {
  width: 120px;
  border-radius: 50%;
}
.center .userinfo .name {
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
}
.center .userinfo .other {
  display: flex;
}
.center .userinfo .other .item {
  flex: 1;
  height: 50px;
  border: 1px dashed #ccd0d5;
}
.center .userinfo .other .item .title,
.center .userinfo .other .item .num {
  font-size: 16px;
}
.qy-footer {
  min-height: 60px;
  background: #393d49;
  color: #fff;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.qy-footer .font-Area {
  width: 100%;
  text-align: center;
  line-height: 60px;
}
.qy-footer .footer-heart {
  display: inline-block;
  color: red;
  animation: footerHeart 1.2s infinite;
}
@keyframes footerHeart {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.2);
  }
  30% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.2);
  }
}
.category-list-count::before {
  content: '(';
}
.category-list-count::after {
  content: ')';
}
.category-list-link {
  font-size: 1em;
  color: #49b1f5;
}
.category-list-count {
  margin-left: 0.3em;
  font-size: 13px;
  color: #8d949e;
}
.archive-list-link {
  font-size: 1em;
  color: #49b1f5;
}
.archive-list-count {
  margin-left: 0.3em;
  font-size: 13px;
  color: #8d949e;
}
.archive-list-count::before {
  content: '(';
}
.archive-list-count::after {
  content: ')';
}
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 6px;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  box-shadow: inset 0 0 5px #393d49;
  background: #393d49;
}
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px #393d49;
  background: #ededed;
}
.layui-card {
  border-radius: 6px;
}
