body {
  background: #F2F2F2;
}
.center {
  margin-top: 60px;
  padding: 1.25rem;
}
.center .article-title {
  display: flex;
  justify-content: space-between;
}
.center .article-title .title {
  font-weight: bold;
  max-width: 50%;
  height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.center .article-bottom {
  margin-top: 0.625rem;
  text-align: right;
}
.center #pageinfo {
  text-align: center;
}
